    #header{
        background: gray url(./top_bg.jpg);
        height: 128px;

    }
    #container{
        width: 1002px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -500px;
        margin-top: -330px;

    }
    #hard-nav li{
      /*  background: green;*/
        width: 90px;
        margin-right: 1px;
        float: left;

    }
#hard-nav a{
    line-height: 38px;
    color: gray;
    font-size: 18px;
    font-family: "微软雅黑";
    display: block;
    width: 100px;
    height: 38px;
    text-align: center;
}
#hard-nav a:hover{
    color: white;
    background: url("./nav_on.gif");
}

#center{
    width: 1002px;
    height: 230px;
    background-image: url(./about_banner.jpg);
    margin-bottom: 5px;
}


#main{
    /*width: 698px;*/
    height: 480px;
    /*background: pink;*/
}
#iside{
    width: 694px;
    height: 470px;
    float: left;
    border: 1px solid gray;
}
.subtitle{
    height: 37px;
    background: #E5E5E5;
    /*margin-bottom: 100px;*/
}
.subtitle img{
    float: left;
    margin: 5px 0px 0px 10px;
}
.subtitle h1{
    float: left;
    margin-left: 18px;
    margin: 5px 0px 0px 10px;
    font-size: 18px;
    font-family: "Microsoft yahei","Simhei",sans-serif;
}
.subtitle a{
    color: #888;
    float: right;
    margin: 10px 0px 0px 10px;
    font-size: 10px;
    font-family: "Microsoft yahei","Simhei",sans-serif;
}
.subtitle a:hover{
    color: gray;
}
.reusable-four {
    width: 330px;
    height: 200px;
    background: #E1E1E1;
    margin:8px;
    float: left;
    _display:inline;
}
.reusable-four h2{
    color: #888;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-family: "Microsoft yahei","Simhei",sans-serif;
}
.reusable-four img{
    float: left;
    padding: 7px;
    margin-top: 10px;
   /* border: 5px solid white;*/
   margin-left: 10px;
   background:white;
}
.reusable-four ul{
    float: left;
    margin:20px;
}
.reusable-four ul li{
    margin-bottom: 10px;
    background-image: url(./service_intro_bg.gif);
    background-repeat: no-repeat;
    padding-left: 11px;
}
.reusable-four ul a{
    color: #888;
    font-size: 10px;
    font-family: "Microsoft yahei","Simhei",sans-serif;
}
.reusable-four ul a:hover{
    color: orange;
}
#rside{
    width: 294px;
    height:600px;
    float: right;
}
#art{
    margin-top: 1px;
    background: #E1E1E1;
    padding-top: 30px;

}
#art li{
    background-image: url(./article_head.gif)no-repeat;
}
#art a{
    color:  #888;
    display: block;
    height: 29px;
    padding-left: 30px;
    padding-top: 5px;
    font-size: 13px;
    font-family:  "Microsoft yahei","Simhei",sans-serif;

}
#art a:hover{
    background: url(./article_on_bg.gif);
    color: orange;
}
#more{
    height: 200px;
    background: #E1E1E1;
}
#art2{
    padding-top: 1px;
}
#art2 li{
font-size: 16px;
font-family: "Microsoft yahei","Simhei",sans-serif;
padding-left: 30px;
height: 30px;
}

#footer{
    width: 1002px;
    height: 40px;
    background: #EEEEEE;
    margin-top: 5px;

}
#footer ul{
    padding-top: 10px;
}
#footer li{
float: left;
margin-left: 10px;
}
#footer li a{
    color: #888;
    font-size: 14px;
    font-family:"Microsoft yahei","Simhei",sans-serif;
}
address{
    font-size: 12px;
    margin-top: 10px;
}
