
.header {
    width: 100%;
    min-width: 1280px;
    height: 70px;
    background: #333333;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 9999;

}

.header-content {
    width: 1280px;
    height: 70px;
    margin: 0 auto;

}

.header-content-log {
    float: left;
}

.header-content-nav {
    float: right;

    height: 70px;
    line-height: 70px;

}

.header-content-nav li {
    float: left;
    text-align: center;
    width: 120px;

}

.header-content-nav a {
    color: #EEEEEE;

}

.header-content-nav a:hover {
    background: #000000;
    display: block;

}

.footer {
    width: 100%;
    height: 320px;
    background: #222222;
}

.footer-content {
    margin: 0 auto;
    width: 1263px;
    height: 280px;

}

.footer-content-left {
    width: 420px;
    float: left;
}

.footer-content-left h2 {
    padding: 20px 0 0 20px;
    font-size: 24px;
    color: #cccccc;
}

.footer-content-left hr {
    width: 90%;
    border: 1px dashed #333;
    margin: 8px auto;

}

.footer-content-left ul {
    font-size: 18px;
    color: #666;
}

.footer-content-left li {
    margin: 0 0 8px 20px;

}

.footer-copyright {
    width: 100%;
    height: 50px;
    background: #000000;
    border-top: 1px solid #444444;
}

.footer-copyright p {
    color: #666;
    text-align: center;
    line-height: 50px;
}
